@charset "gb2312";
html,body,div,table,th,td,p,ul,li,aa,dl,dt,dd{ font-family:Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; padding: 0px; margin:0px; color:#333}
body{ text-align:center}
div{ overflow:hidden}
a{ text-decoration:none; outline:none; }
table,th,td{ border-collapse:collapse; border-spacing:0px; vertical-align:top}
ul,li{ list-style-type:none; background-repeat:no-repeat}
#container{ margin:0px auto;width:1366px; text-align:left}
a:link{ color:#333}/*常规，非访问超链接*/
a:visited{ color:#333}/*访问超链接*/
a:hover { color:#66CC33; text-decoration: none}/*访问者操作鼠标通过时的链接 */
a:active{ color:#FF0000; text-decoration:underline}/*点击链接*/
img{ border:none}

/*分页样式*/
#Divpage{width:290px; margin:0 auto; text-align:center; padding-left:10px; padding-top:18px;}
#Divpage li{ float:left; width:auto; padding:2px;}
#Divpage li a { color:#333; font-size:12px; }
#Divpage li a:visited { color:#333; font-size:12px; }
#Divpage li a:hover { color:#0079b8; font-size:12px; }

#footer{ color:#999999; line-height:24px; margin:20px auto auto 345px;}
#footer a{ color:#999999; font-weight:bold; padding:0px 14px;}
#footer a.paddingLeft0{ padding-left:0px;}



/*sidebar类别*/
.proLi{ width:160px; line-height:30px; border-bottom:#CCCCCC solid 1px; display:block; background:url(../images/li.jpg) no-repeat 30px 50%; padding-left:50px; margin-left:32px;}

/*分类*/
.fl{  line-height:22px; display:block;font-size:12px; margin-left:27px;}

.aa{line-height:23px; margin:5px 12px auto 12px}
.aa p{ text-indent:2em}

/*导航*/

#dh {
    width:100%;
    border-right:none;
	margin-left:0px
}
#dh li {
	font-size:14px; font-family:"宋体"; font-weight:bold;
		width:12%;
    display: inline;
    list-style-type: none;
}
#dh li a:link,#dh li a:visited {
    float:left;
    padding:16px 20px;
    text-decoration: none;
    color:#D5D311;
    
}
#dh li a:hover {
    color:#fff;
	background-repeat:no-repeat;
	background-image:url(../images/bbb.gif);
	background-position:center;
}
#dh li a{
    color:none;
    background:none;
}



